{% extends 'base.html.twig' %}

{% block title %}PokedexPokemon index{% endblock %}

{% block body %}
    <h1>PokedexPokemon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nivel</th>
                <th>Fuerza</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pokedex_pokemon in pokedex_pokemons %}
            <tr>
                <td>{{ pokedex_pokemon.id }}</td>
                <td>{{ pokedex_pokemon.nivel }}</td>
                <td>{{ pokedex_pokemon.fuerza }}</td>
                <td>
                    <a href="{{ path('app_pokedex_pokemon_show', {'id': pokedex_pokemon.id}) }}">show</a>
                    <a href="{{ path('app_pokedex_pokemon_edit', {'id': pokedex_pokemon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pokedex_pokemon_new') }}">Create new</a>
{% endblock %}
